<section class="nome-secao">

  <!-- Capa com o tema do app -->
  <div class="capa-container">
    <img src="./../../../../../assets/background.png"/>
  </div>

  <!-- Container com o formulário e o botão -->
  <div class="conteudo-container">
    <!-- Formulário -->
    <div>
      <img src="./../../../../assets/PagueiBarato.png" alt="Logotipo do aplicativo" class="logo"/>

      <h1>Vamos nos conhecer melhor!</h1>
    
      <label for="email">Primeiro, informe seu primeiro nome</label>
      <div class="input-box">
        <img src="./../../../../../assets/userIcon.svg" alt="Ícone do input do e-mail"/>
        <input type="email" name="email" id="email" placeholder="Insira seu e-mail">
      </div>
    </div>
    
    <!-- Botão -->
    <div>
      <button class="button-primary" type="submit">Próxima etapa</button>
    </div>
  </div>

</section>