<ion-content>
  <div class="container-login">
    <div class="capa-container">
      <img src="./../../../../assets/background.png"/>
    </div>
  
    <section class="secao-formulario">
      <img src="./../../../../assets/PagueiBarato.png" alt="Logotipo do aplicativo" class="logo"/>
  
      <h1>Que tal fazer login?</h1>
  
      <label for="email">E-mail</label>
      <div class="input-box">
        <img src="./../../../../assets/emailIcon.svg" alt="Ícone do input do e-mail"/>
        <input type="email" name="email" id="email" placeholder="Insira seu e-mail">
      </div>
  
      <label for="senha">Senha</label>
      <div class="input-box">
        <img src="./../../../../assets/passwordIcon.svg" alt="Ícone do input da senha"/>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
      </div>
  
      <div class="container-buttons">
        <button class="button-secondary" routerLink="./cadastro/nome">Cadastre-se</button>
        <button class="button-primary" routerLink="/cadastro/nome" type="submit">Fazer login</button>
      </div>
  
      <p class="separador-acoes">ou</p>
  
      <div class="container-visitante">
        <button class="button-secondary guest">Continuar sem login</button>
      </div>
    </section>
  </div>
</ion-content>