<div class="container-login">
  <div class="capa-container">
    <img src="./../../../../assets/background.png"/>
  </div>

  <img src="./../../../../assets/PagueiBarato.png" alt="Logotipo do aplicativo" class="logo"/>

  <h1>Que tal fazer login?</h1>

  <label for="email">E-mail</label>
  <div class="input-box">
    <img src="./../../../../assets/emailIcon.svg" alt="Ícone do input do e-mail"/>
    <input type="email" name="email" id="email" placeholder="Insira seu e-mail">
  </div>

  <label for="senha">Senha</label>
  <div class="input-box">
    <img src="./../../../../assets/passwordIcon.svg" alt="Ícone do input da senha"/>
    <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
  </div>

  <button class="button-secondary">Cadastre-se</button>
  <button class="button-primary" type="submit">Fazer login</button>
</div>

<span>ou</span>

<div class="container-visitante">
  <button class="button-secondary">Continuar sem login</button>
</div>